## List Comprehension

- List comprehension is a way to write list operations in a single line
- when we apply for loop and if-else conditional statements then the code compilation becomes slow
- which means it takes much time
- In order to avoid the time complexity we will use list comprehensions
- List comprehensions is a single line code

**Case-1: Only for loop**

In [4]:
list1 = []
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lis1 = [<code should write here>]
# inside code no need of append
list1 = [<output var> <for loop>]  # output var: i , for loop no need of giving ' : ' in this.

In [9]:
list1 = [i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**don't give : after for loop**

In [12]:
# Q1)
l1 = ['hyd','bengaluru', 'pune','mumbai']
l2 = [i.capitalize() for i in l1]
l2

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [14]:
# Q2)
l1 = ['hyd','bengaluru', 'pune','mumbai']
l2 = [i.upper() for i in l1]
l2

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [32]:
# Q3) multiply the index with 10
l1 = ['hyd','bengaluru', 'pune','mumbai']
i_l1= [i*10 for i in range(len(l1))]
i_l1

[0, 10, 20, 30]

In [34]:
# Q4) sum of indexes
l1 = ['hyd','bengaluru', 'pune','mumbai']
summ = [i for i in range(len(l1))]
sum(summ)

6

**Walrus operator**

In [38]:
summ = [summ=summ+i for i in range(len(l1))]           # :=  : is walrus operator

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2367035294.py, line 1)

In [50]:
summ = 0
[summ:= summ+i for i in range(1,11)]
print(summ)

55

110

In [54]:
summ=0
[summ:= summ+i for i in range(1,11)][-1]
summ

55

**Case-2: For loop and if condition**

In [57]:
# even number
even_list = []
for i in range(1,10):
    if i%2 ==0:
        even_list.append(f'even:{i}')

even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [ ]:
[<output> <if condition> <for loop>]
[<output> <for loop> <if condition>]

In [59]:
even_list = [f'even:{i}' if i%2==0  for i in range(1,10)]

SyntaxError: expected 'else' after 'if' expression (657419842.py, line 1)

In [63]:
even_list = [f'even:{i}'  for i in range(1,10) if i%2==0]
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [65]:
# Q6)
l1 = ['hyd','ben#galuru', 'pune', 'mu#mubai']
l2 = [i for i in l1 if '#' in i]
l2

['ben#galuru', 'mu#mubai']

In [67]:
# Q6)
l1 = ['hyd','ben#galuru', 'pune', 'mu#mubai']
l2 = [i for i in l1 if '#' not in i]
l2

['hyd', 'pune']

**Case-3: for loop if & else**

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]

In [81]:
even_list =[]
odd_list = []
[even_list.append(i) if i%2==0 else odd_list.append(i) for i in range(1,11)]
print(even_list)
print(odd_list)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [87]:
list1 = [f"even: {i}" if i%2==0  else f"odd:{i}" for i in range(1,10)]
list1

['odd:1',
 'even: 2',
 'odd:3',
 'even: 4',
 'odd:5',
 'even: 6',
 'odd:7',
 'even: 8',
 'odd:9']

**Case-4: for-if-elif-else**

- in list comprehension we don't have **elif** representaiton
- elif also represented as else+**if**
- in elif we have **elif condition** and **elif output**
- else elif_output elif condition

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]
case-4: for-if-elif-else: 
[<if out> <if cond> else <elif out> <elif cond> else <else out> <for loop>]
**Note**: instead of elif term write if

In [95]:
# >85  A grade  60-85 B grade  less than 60 C grade
l = [45,55,65,75,85,95]
for i in l:
    if i> 85:
        print(f"{i} A grade")
    elif i> 60:
        print(f"{i} B grade")
    else:
        print(f"{i} C grade")

45 C grade
55 C grade
65 B grade
75 B grade
85 B grade
95 A grade

In [97]:
# >85  A grade  60-85 B grade  less than 60 C grade
l = [45,55,65,75,85,95]
l1 = [f'{i} A grade' if i >85 
      else
      f'{i} B grade' if i>60 
      else
      f"{i} C grade" 
      for i in l]
l1

['45 C grade',
 '55 C grade',
 '65 B grade',
 '75 B grade',
 '85 B grade',
 '95 A grade']

**screening paper question**

List of student marks in python,, 
marks = [45,76,89,53,67,90,82,49,33,99], 
solve all below problems by using list comprehension 
topic

In [5]:
# Filter students who passed marks >=50   === Mine
marks = [45,76,89,53,67,90,82,49,33,99]
passed = [i for i in marks if i>=50]
print(passed)

[76, 89, 53, 67, 90, 82, 99]

In [17]:
marks = [45,76,89,53,67,90,82,49,33,99]
[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [25]:
# Calculate grades for all students ==== Mine
# (A: 85+, B:70-84, c:50-69, F:50)
marks = [45,76,89,53,67,90,82,49,33,99]
grades = [f"{i}: A" if i>=85 else f"{i}: B" if i>=70
         else f"{i}: C" if i>=50 else f"{i}: F" for i in marks]
print(grades)

['45: F', '76: B', '89: A', '53: C', '67: C', '90: A', '82: B', '49: F', '33: F', '99: A']

In [19]:
marks = [45,76,89,53,67,90,82,49,33,99]
[f"Marks = {i}: A grade" if i>=85
 else f"Marks =  {i}: B grade" if i >=70
else f"Marks =  {i}: C grade" if i >=50
else f"Marks = {i}: F grade" 
for i in marks]

['Marks = 45: F grade',
 'Marks =  76: B grade',
 'Marks = 89: A grade',
 'Marks =  53: C grade',
 'Marks =  67: C grade',
 'Marks = 90: A grade',
 'Marks =  82: B grade',
 'Marks = 49: F grade',
 'Marks = 33: F grade',
 'Marks = 99: A grade']

In [23]:
# Add 5 grace marks to students who failed (<50)   === Mine

marks = [45,76,89,53,67,90,82,49,33,99]
new_marks= [i+5 if i<50 else i for i in marks]
print(new_marks)

[50, 76, 89, 53, 67, 90, 82, 54, 38, 99]

In [21]:
marks = [45,76,89,53,67,90,82,49,33,99]
[i+5 for i in marks if i<50]

[50, 54, 38]

In [27]:
# Identify top 3 scorers         ==  Mine
marks = [45,76,89,53,67,90,82,49,33,99]
marks.sort(reverse=True)
top_scorers = [marks[i] for i in range(3)]
top_scorers

[99, 90, 89]

In [35]:
marks = [45,76,89,53,67,90,82,49,33,99]
max_val = max(marks)
for i in range(3):
    max_val= max(marks)
    print(max_val)
    
    marks.remove(max_val)

99
90
89

In [43]:
# Akshay online
marks = [45,76,89,53,67,90,82,49,33,99]
top_3 = [(max_val:= max(marks), marks.remove(max_val))[0] for i in range(3)]
print(top_3)

[99, 90, 89]

In [13]:
# Find avg marks of the class
marks = [45,76,89,53,67,90,82,49,33,99]
summ = 0
[summ:=summ+i for i in marks]
avg = summ/len(marks)
print(avg)

68.3

In [45]:
marks = [45,76,89,53,67,90,82,49,33,99]
summ = 0
average = [summ:=summ+i for i in marks][-1]/len(marks)
print("Average marks of the class:", average)

Average marks of the class: 68.3

In [47]:
marks = [45,76,89,53,67,90,82,49,33,99]
summ=0
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [ ]:
l1 = [[1,2],[4,5],[7,9]]
l2 = [10,20]
# find the distance between l2 with all other points from l1
# which is the maximum distance give me that
# h**2 = s**2 + s**2
# h = (s**2 + s**2)**1/2
# h = ((x1-x2)**2 + (y1-y2)**2)**1/2

In [58]:
#explanation
import math
l1 = [10,20]
l2 = [30,40]
distance1= l2[0]-l1[0]   # x2-x1
distance2 = l2[1]-l1[1]  # y2-y1
d1square = math.pow(distance1,2)
d2square = math.pow(distance2,2)
d = d1square+d2square
math.sqrt(d)

28.284271247461902

In [60]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [62]:
#explanation
import math
l1 = [10,20]
l2 = [20,40]
distance1= l2[0]-l1[0]   # x2-x1
distance2 = l2[1]-l1[1]  # y2-y1
d1square = math.pow(distance1,2)
d2square = math.pow(distance2,2)
d = d1square+d2square
math.sqrt(d)

22.360679774997898

In [ ]:
# how to sort the list
# how to find the maximum of the list
# how to find the minimum of the list
# how to find second maximum of the list
# how to find second minimum of the list
# how to find the longest word of a string
# how to find the most repeated word of a string

[10,20,30,35,120,500,490,320,240,120]   # v shape forming or not
# interview qtn