- basic representations
- inbuilt functions
    - min max len type sum reversed sorted
- concatenation
- index
- in vs range
- mutable vs immutable
- slice
- methods

**Basic Representations**

- strings will use in quotes
- list elements is in square brackets

In [11]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [13]:
print(list1)

[1, 2, 3, 4]

In [17]:
type(list1)
# for strings  ==== str
# we will say strings ======== but type is str
# we will say list ========== type also list

list

In [19]:
list2 = ['A','B','C']
list2

['A', 'B', 'C']

In [23]:
list3 = [1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [85]:
list1 = [1,2,3,4]
print(list1)
list2 = ['A','B','C']
print(list2)
list3 = [1,2,3,'A','B','C']
print(list3)
list4 = [True,1,2,3]
print(list4)
list5 = [False,1,2,3,'A','B','C']
print(list5)
list6 = [True,1,2,3,4.2,5.8,'A','B','C']
print(list6)
list7 = [0b00101,True,1,2,'A',7.2]
print(list7)
a = '20'
b = 20
list8 = [a,b]
print(list8)
b=30
print(list8)
list9 = [10,20,30,['Apple','Banana']]
list10=[[10]]
#heterogeneous = different value
#homoegeneous = same values

# even underscore will work

[1, 2, 3, 4]
['A', 'B', 'C']
[1, 2, 3, 'A', 'B', 'C']
[True, 1, 2, 3]
[False, 1, 2, 3, 'A', 'B', 'C']
[True, 1, 2, 3, 4.2, 5.8, 'A', 'B', 'C']
[5, True, 1, 2, 'A', 7.2]
['20', 20]
['20', 20]

In [105]:
list1 = [10,20,2,5,75]
list2 = ['Apple','apple','cherry','banana']
list3 = [10,20,2,5,75,'Apple','apple','cherry','banana']
print(min(list1))    # 2
print(max(list1))
print(len(list1))
print(type(list1))
print(sum(list1))
print(sorted(list1))
print(sorted(list1,reverse=True))
a = reversed(list1)
for i in a:
    print(i, end=',')

2
75
5
<class 'list'>
112
[2, 5, 10, 20, 75]
[75, 20, 10, 5, 2]
75,5,2,20,10,

In [115]:
print(min(list2))    # 2
print(max(list2))
print(len(list2))
print(type(list2))

Apple
cherry
4
<class 'list'>

In [117]:
print(sum(list2))   #  TypeError: int str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [111]:
print(sorted(list2))
print(sorted(list2,reverse=True))

['Apple', 'apple', 'banana', 'cherry']
['cherry', 'banana', 'apple', 'Apple']

In [109]:
a = reversed(list2)
for i in a:
    print(i, end=',')

banana,cherry,apple,Apple,

In [121]:
print(min(list3))    # TypeError not supported between instaces of 'str and 'int

TypeError: '<' not supported between instances of 'str' and 'int'

In [125]:
print(max(list3))  # TypeError not supported between instaces of 'str and 'int

TypeError: '>' not supported between instances of 'str' and 'int'

In [139]:
print(len(list3))
print(type(list3))

9
<class 'list'>

In [129]:
print(sum(list3))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [131]:
print(sorted(list3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [137]:
print(sorted(list3,reverse=True))

TypeError: '<' not supported between instances of 'int' and 'str'

In [135]:
a = reversed(list3)
for i in a:
    print(i, end=',')

banana,cherry,apple,Apple,75,5,2,20,10,

- for all int values in single list working
- for all string values sum is not working as typeError
- for when mix between string,num values sorted,sum,min,max not wrking, others are working

In [142]:
list(reversed(list1))

[75, 5, 2, 20, 10]

In [151]:
# In the interview
# list1 = [10,20,2,5,75]
# Q1) sort the list witout sorted function
# Q2) find max value without max jfunction
# Q3) find the min value without min function
# Q4) Reverse the elements without reversed functioin
# Q5) Sum the elements without using sum function
# Q6) find the second mininum and second maximum
# list1 = [10,20,2,5,75]
# list1 = [20,10,5,55,42,75]
# max_v1 = list1[0]
# for i in list1:
#     if max_v1 < i:
#         max_v1=i
        
# print(max_v1)
# max_v2 = list1[0]
# for i in list1:
#     if max_v2 < i and max_v1 != i:
#         max_v2 = i
        
# print(max_v2)

In [148]:
# list1 = [10,20,2,5,75]
# max_value = list1[0]
# for i in list1:
#     if max_value > i:
#         max_value= i

# print(max_value)

**concatenation**

In [169]:
list1 = [1,2,3,4]
list2 = ['A','B','C','D']
list1+list2
# list1-list2    # typeError: unsupported operand
#list1*list2    # TypeError: can't multiply sequence by non-int of type 'list'
list1*2
# list1/list2    # typeError: unsupp

[1, 2, 3, 4, 1, 2, 3, 4]

In [165]:
print('python'*2)
print('python'+'python')

pythonpython
pythonpython

**index**

In [172]:
# -6  -5  -4   -3    -2    -1
# 10  20  30   'A'   'B'   'C'
#  0   1   2    3     4     5
list1 = [1,2,3,'A','B','C']
list1[0],list1[-6]

(1, 1)

In [182]:
# Positive index of 10 is 0
# negative index of 10 is -6
# 
list1 = [10,20,30,'A','B','C']

n = len(list1)
for i in range(n):
    print(f"Positive index of {list1[i]}: {i}")
    print(f"Negative index of {list1[i]}: {i-n}")
    print(f"Positive index is {i} and negative index is {i-n} of {list1[i]}")

Positive index of 10: 0
Negative index of 10: -6
Positive index is 0 and negative index is -6 of 10
Positive index of 20: 1
Negative index of 20: -5
Positive index is 1 and negative index is -5 of 20
Positive index of 30: 2
Negative index of 30: -4
Positive index is 2 and negative index is -4 of 30
Positive index of A: 3
Negative index of A: -3
Positive index is 3 and negative index is -3 of A
Positive index of B: 4
Negative index of B: -2
Positive index is 4 and negative index is -2 of B
Positive index of C: 5
Negative index of C: -1
Positive index is 5 and negative index is -1 of C

In [184]:
list1 = [[10]]
# inside list how many elements are there:1
# [10]
list1[0][0]

10

In [186]:
list1 = [[10,20]]
len(list1)

1

In [188]:
list1 = [[10,20]]
list2 = [10,20]
len(list1), len(list2)

(1, 2)

In [196]:
list1 = [10,[20]]
len(list1)

2

In [194]:
list1[1][0]

20

In [198]:
list1 = [10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [200]:
list1 = ['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [212]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][2][0]

'Dragon fruite'

In [224]:
list1 = ['Apple',['Kashmir',['India',['Cricket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [232]:
list1 = ['Orange',['Nagpur',['MH',['Shivaji',['Shambaji',['Viky']]]]]]
list1[1][1][1][1][1][0]

'Viky'

**range vs in**

- when we have use with index then go for range
- when we have use with only element go for in

**mutable vs immutable**

In [9]:
list1 = [1,2,3,4,5,6]
list1[2] = 5
list1

[1, 2, 5, 4, 5, 6]

**list are mutable**

**slice**

In [49]:
l1 = [10,20,30,40,50,'A','B','C','D','E','apple','banana','cat','mouse']
l1[:]     # full list
l1[::]    # full list
l1[::-1]  # reverse list
print(l1[2:10:2]) # works
print(l1[2:10:-2]) # not works
print(l1[2:-10:2])  # works 
print(l1[-2:10:2])  # works --> not works
print(l1[2:-10:-2]) # maybe --> not works
print(l1[-2:10:-2]) # works
print(l1[-2:-10:2]) # not works
print(l1[-2:-10:-2]) # works
print(l1[10:2:2]) #not works
print(l1[10:2:-2]) # works

[30, 50, 'B', 'D']
[]
[30]
[]
[]
['cat']
[]
['cat', 'apple', 'D', 'B']
[]
['apple', 'D', 'B', 50]

In [55]:
print(len(l1))

l1[-2:10]

14

[]

**methods**

- if we wants to know the strings methods
dir('')

In [32]:
print(dir([]),end=' ')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

- clear
- copy
- count

In [37]:
l1 = [30,20,50,60,80, 50, 20,20,80]
l1.clear()
l1

[]

In [43]:
l1 = [30,20,50,60,80, 50, 20,20,80]
l2 = l1.copy()
l2

[30, 20, 50, 60, 80, 50, 20, 20, 80]

In [45]:
l1 = [30,20,50,60,80, 50, 20,20,80]
l1.count(80)

2

In [ ]:
l1 = [10,20,30,'A','B','C']

In [62]:
l1 = [10,20,30,'A','B','C']
l2 = l1.copy()
l3 = l1
l1[0]=1

l1.clear()
print(l1)
print(l2)
print(l3)

[]
[10, 20, 30, 'A', 'B', 'C']
[]

**append**

- append is very very important method in the entire list
- in our life we will use this method very very frequently
- append means adding an element at last

In [65]:
l1 =[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [67]:
l1 =[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [71]:
l1 =[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [69]:
l1 = [10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**always recall if you see anywhere multiple values means most of the time we will keep values in list**

In [78]:
l1 = [10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [80]:
l1 = [10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [82]:
l1 = [10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [84]:
l1 = [10,20,30]
l1.append(['append','banana'])
l1

[10, 20, 30, ['append', 'banana']]

**append method is used to store the outputs**

In [89]:
# for exampe i want to append a numbers from 1 to 5
# l1 = [1,2,3,4,5]
l1 = []
############
l1.append(1)
l1.append(2)
l1.append(3)
l1.append(4)
l1.append(5)
# l1.append(i)
##############
l1

[1, 2, 3, 4, 5]

In [91]:
l1 =[]
for i in range(1,6):
    l1.append(i)

l1

[1, 2, 3, 4, 5]

In [99]:
# wap ask the user enter 3 random numbers 
# and perform the square of the numbers and save those squares in a list
import random
# l1 = []
for i in range(3):
    n = random.randint(1,100)
    # print(n)
    s = n**2
#     print(s)
    l1.append(s)

l1

[529, 400, 2025]

In [103]:
import random
l1 = []
for i in range(3):
    n = random.randint(1,100)
    l1.append(f'{n}:{n*n}')

l1

['98:9604', '99:9801', '79:6241']

In [105]:
# Q2) i already have a list of numbers
l = [10,47,53,12,27]
# from above list i wnat to get a even_list and odd_list

even_list = []
odd_list = []

for i in l:
    if i%2 == 0:
        even_list.append(i)

    else:
        odd_list.append(i)

print(even_list)
print(odd_list)

[10, 12]
[47, 53, 27]

In [107]:
# Q3) input = ['hyd','bengaluru','pune','mumbai']
# output = ['Hyd','Bengaluru','Pune','Mumbai']
l1 = ['hyd','bengaluru','pune','mumbai']
l2 = []
for i in l1:
    l2.append(i.title())

l2

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [109]:
# Q4) input = ['hyd','bengaluru','pune','mumbai']
# output = ['HYD','BENGALURU','PUNE','MUMBAI']
l1 = ['hyd','bengaluru','pune','mumbai']
l2 = []

for i in l1:
    l2.append(i.upper())

l2

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [ ]:
# Q5) input = ['hyd','bengaluru','pune','mumbai']
# output = ['ben#galuru','mu#mbai']

In [ ]:
# Q6) input = ['hyd','bengaluru','pune','mumbai']
#     output = [hyd,pune]

In [111]:
# Q7) input = 'hai how are you'
#      output = ['HAI','HOW','ARE','YOU']
s = 'hai how are you'
l1 = []
l2 = s.split()
for i in l2:
    l1.append(i.upper())

l1

['HAI', 'HOW', 'ARE', 'YOU']

In [113]:
# Q8) input = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#      fname = ['virat','rohit','ms']
#      sname = ['kohli','sharma','dhoni']
#      cname = ['rcb','mi','csk']

s = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1 = s.split(';')
fname = []
sname = []
cname = []
for i in l1:
    id1 =

SyntaxError: expected ':' (2549044589.py, line 11)

In [1]:
# Q9)  input 'can canner can you can not canner with you but you can the canner'
#  output = ['can-4','canner-3','you-3', '']

In [7]:
print(dir([]))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**extend**

In [18]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [22]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D']]

In [24]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l2.extend(l1)
l2

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [20]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']
l2.append(l1)
l2

['A', 'B', 'C', 'D', [1, 2, 3, 4, 5]]

In [36]:
l1 = [1,2,3,4,5]
l2 = ['A','B','C','D']

print(l1+l2)    # not overwrite, concatenation does not overwrite l1 or l2
print(l1)
print(l2)
print('l1 will be overwrite if we use extend')
l1.extend(l2)    # overwrites l2 elements to l1
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
l1 will be overwrite if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**index**

- strings we have find and index
- but in list we have only index
- same as strings concept

In [43]:
l1 = [1,2,3,50,4,2,5]
l1.index(50)

3

In [47]:
l1 = [1,2,3,50,4,2,5]
l1.index(2, 4)

5

In [57]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1 = l1.index(40)
print(l1.index(40,i1+1))

8

**insert**

- defference between insert and append

In [66]:
l1 = [10,20,20,30,0]
l1.append(20)
print(l1)
l1.insert(1,30)      # takes two arguments, first index,value and inserts before the index
print(l1)

[10, 20, 20, 30, 0, 20]
[10, 30, 20, 20, 30, 0, 20]

In [76]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i = l1.index('Apple')
l1.insert(i+1,100)  # inserts before the index or  new value index will be the provided i(index)
l1

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

In [82]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.append(100)        # by default last
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50, 100]

**pop vs remove**

In [95]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop()     # pops provided index value or last vaue if empty and returns the removed value
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40]

In [97]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop(5)     # pops provided index value or last vaue if empty and returns the removed value
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [91]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove(40)    # removes the first occurence of the value
l1

[10, 20, 30, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [118]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50,'Apple']
del(l1[5])   # builtin function removes element based on index
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50, 'Apple']

In [122]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50,'Apple']
print(l1)
del(l1)  # variable gone
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50, 'Apple']

NameError: name 'l1' is not defined

- if we want delete any element
- pop: based on index
- remove: based on value
- del: is an inbuilt function and based on index

In [126]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50,'Apple']
del l1[5]  # del(l1[5])  we can also not provide brackets and works
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50, 'Apple']

**reverse - reversed**

- reverse is a method
- reversed is a inbuilt function

In [145]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50,'Apple']
l1.reverse()  # modifies the list so that values are placed in reverse
print(l1)

# Signature: l1.reverse()
# Docstring: Reverse *IN PLACE*.
# Type:      builtin_function_or_method

['Apple', 50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

**in place**

- when we perform the operations some times the values will not override
- if we see **in place** word or **in place =True**
- this indicates the output will be overwrite in corresponding variable

In [147]:
l1 = [10,20,30,40,50,'Apple','Banana','Cherry',40,50,'Apple']
l2 = reversed(l1)   # does not modify the list l1, but returns an id

print(l1)
print(list(l2))

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50, 'Apple']
['Apple', 50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

**sort - sorted**

In [160]:
l1 = [1,2,50,3,4,5,6]
l1.sort()   # sort modifies the list
l1

[1, 2, 3, 4, 5, 6, 50]

In [162]:
l1 = [1,2,50,3,4,5,6]
l1.sort(reverse=True)   # sort modifies the list
l1

[50, 6, 5, 4, 3, 2, 1]

In [158]:
l1 = [1,2,50,3,4,5,6]
v =sorted(l1)   # sorted does not modify the list
print(l1)
print(v)

[1, 2, 50, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 50]

In [166]:
l1 = [1,2,50,3,4,5,6]
v =sorted(l1, reverse=True)   # sorted does not modify the list
print(l1)
print(v)

[1, 2, 50, 3, 4, 5, 6]
[50, 6, 5, 4, 3, 2, 1]

In [168]:
str1 = 'python'
sorted(str1)  #strings list

['h', 'n', 'o', 'p', 't', 'y']

In [172]:
str1.sort()  # it is not available

AttributeError: 'str' object has no attribute 'sort'

- inbuilt function applicable for any data type
- but methods works their own data types

- clear
- count
- append/extend/insert
- pop/remove/del
- index
- reverse/reversed
- sort/sorted